[supabase]
url = "https://nptqepcpovqqcysubyfr.supabase.co"
key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5wdHFlcGNwb3ZxcWN5c3VieWZyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDA3MDI2NDIsImV4cCI6MjA1NjI3ODY0Mn0.qUnkapitvw1RncZY5Rsf0oOenXRkt-UJmBI2CXlsiJg"